/node_modules
.vscode
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/modules.xml
/.idea/SocialTaskOpenSource.iml
/.idea/vcs.xml
/.idea/cody_history.xml
/.idea/php.xml
