.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Error {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.Error-Content {
  margin-top: 50px;
  color: white;
}

.Button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 0;
}

.Button.Secondary {
  background-color: #dff2ff;
  color: #363636;
}

.Button.Primary {
  background-color: #6effb6;
  color: #064926;
}
